@use '../../styles//breakpoints.scss';
@use '../../styles/grids.scss';

.component-preview-grid {
  overflow: hidden;
  gap: 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: solid 2px var(--colorNeutralBackground1);
    z-index: 1;
    pointer-events: none;
  }
}

.component-preview {
  border: solid 1px var(--colorNeutralStroke3);
  padding: var(--size480) var(--size320);
  overflow: hidden;
}

.component-preview-sm {
  grid-column: span 12 / span 12;

  @include breakpoints.sm {
    grid-column: span 6 / span 6;
  }

  @include breakpoints.lg {
    grid-column: span 4 / span 4;
  }
}

.component-preview-md {
  grid-column: span 12 / span 12;

  @include breakpoints.md {
    grid-column: span 6 / span 6;
  }
}
