/*
  Global Styles
  color-scheme is light dark and we generate a stylesheet from fluent ui components

*/
:root {
  color-scheme: light dark;
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  text-align: left;
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightBase300);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Default light mode icons */

#light-icon {
  display: none;
}
#dark-icon {
  display: inline-flex;
}

/* Dark mode icons */
@media (prefers-color-scheme: dark) {
  #light-icon {
    display: inline-flex;
  }
  #dark-icon {
    display: none;
  }
}

html[data-theme='dark'] #light-icon {
  display: none;
}
html[data-theme='dark'] #dark-icon {
  display: inline-flex;
}
