header {
  border-bottom: solid var(--strokeWidthThin) var(--colorNeutralStroke1);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacingVerticalM) var(--spacingHorizontalL);
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 1.5rem;
  object-fit: contain;
  width: auto;
}

.header-divider {
  height: auto;
  align-self: stretch;
  width: 1px;
  border-left: solid var(--strokeWidthThin) var(--colorNeutralStroke2);
  margin: 0 var(--spacingHorizontalL);
}

.header-title-container {
  display: flex;
  align-items: center;
  gap: var(--spacingVerticalXS);
}