.basic-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;

  .basic-file-upload-actions {
    display: flex;
    align-items: center;
    gap: var(--spacingHorizontalM);
    margin-bottom: var(--spacingVerticalM);
  }
}
